.header {
    background-color: darken($color-bg-main, 5%);
    .logo-- {
        width: 3.125rem;
        .logo {
            width: 100%;
        }
    }
}
.header-bg-color {
    background-color: darken($color-bg-main, 5%);
}
.clear-header-lg {
    width: 100%;
    height: 90px;
}
.clear-header-md {
    width: 100%;
    height: 60px;
}