// Colors in the project
$color-bg-main: #1c1c1c;
$color-white: #fff;
$color-primary: #f22613;
$color-blue: #348ABF;



// carausel path

$image-path: '../img/';
// $image-path: 'http://example.com/res/img/';