<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Madfangs</title>
    <link rel="stylesheet" href="<%= domainRoot %>css/bundle-paymentsuccesspage.css">
</head>
<body class='background-dark'>
    <div class="top-fixed">
        <a href="<%=domainRoot%>" class="logo--">
            <img src="<%=domainRoot%>img/svg/logo.svg" alt="logo">
        </a>
    </div>
    <div class="centered px-2">
        <h1 class="display-5 text-light my-3 text-center">Payment Successfull</h1>
        <p class="lead text-light text-center my3">We have successfully confirmed your payment.</p>
        <a href="<%=domainRoot%>dashboard" class="text-center d-block w-100" style="text-decoration: none; color: #348ABF;">Click here to continue</a>
    </div>
</body>
</html>